.div {
    background-image: linear-gradient(to left, #000000, #2b1a22, #4e2d45, #6e4470, #8660a3);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div img{
    width: 100px;
    height: 100px;
}

.coingecko {
    /* background-color: aqua; */
    width: 200px;
    height: 100px;
}

.coingecko img {
    width: 100%;
}

@media (max-width: 440px) {

    .div {
        background-image: linear-gradient(to left, #000000, #2b1a22, #4e2d45, #6e4470, #8660a3); 
        padding: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .div img{
        width: 100px;
        height: 50px;
    }
    
    .coingecko {
        /* background-color: aqua; */
        width: 100px;
        height: 50px;
    }
    
    .coingecko img {
        width: 100%;
    }
   
}
