.divina {
    background-color: white;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.roadmapi {
    height: 120px;
    margin-bottom: 100px;
}

.um {
    height: 300px;
    margin-bottom: 100px;
}

.dois {
    height: 300px;
    margin-bottom: 100px;
}

.tres {
    height: 300px;
    margin-bottom: 50px;
}

@media (max-width: 440px) {

    .roadmapi {
        height: 60px;
        margin-bottom: 50px;
    }
    
    .um {
        height: 100px;
        margin-bottom: 50px;
    }
    
    .dois {
        height: 100px;
        margin-bottom: 50px;
    }
    
    .tres {
        height: 100px;
        margin-bottom: 50px;
    }
}

@media (max-width: 400px) {

    .roadmapi {
        height: 60px;
        margin-bottom: 50px;
    }
    
    .um {
        height: 100px;
        margin-bottom: 50px;
    }
    
    .dois {
        height: 100px;
        margin-bottom: 50px;
    }
    
    .tres {
        height: 100px;
        margin-bottom: 50px;
    }
}