.divglob {
    width: 100vw;
}


.spaco {
    display: none;
}

.section {
    width: 100%;
    position: relative;
    background-image: url(./assets/mainimg.jpg);
    background-size: cover;
    background-position: center;
    height: 50rem;
}

@media (max-width: 440px) {

    .section {
        width: 100%;
        position: relative;
        /* background-color: aqua; */
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;   
        height: 40rem;
    }

    .espaco {
        width: 100%;
        background-image: url(./assets/background.jpg);
        background-size: cover;
        background-position: center;
        height: 15rem;
    }
}

