.divglob {
    width: 100vw;
}

.section {
    width: 100%;
    position: relative;
    background-image: url(./assets/frogcoin.jpg);
    background-size: cover;
    height: 80rem;
}

@media (max-width: 440px) {

    .section {
        width: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80rem;
    }
}

@media (max-width: 400px) {

    .section {
        width: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80rem;
    }
}
